* {
    box-sizing: border-box;
    margin: 0px;
    text-decoration: none;
    font-family: Averta, sans-serif;
}

@media screen and (max-width: 2480px) and (min-width: 776px) {

    .learn,
    .first-btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-logo {
        display: flex;
        padding-top: 69px;
        margin-bottom: 69px;
        align-items: center;
        justify-content: center;
    }

    .bg {
        height: 800px;
        background-image: url("zuri landing/hero-bg.svg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .one {
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    .one p {
        font-size: 16px;
        line-height: 24px;
        color: #514949;
        opacity: 0.9;
        font-weight: 400;
    }

    .one h2 {
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #514949;
        margin-bottom: 36px;
    }

    .unlock {
        text-align: center;
        padding: 4% 24% 0 24%;
        color: #514949;
    }

    .first-btns {
        padding: 7% 0;
    }

    .btn {
        margin: 1%;
    }

    .ind {
        font-size: 16px;
        padding: 12px 25px;
        color: white;
        background-color: #e7332b;
        border: 1px solid #e7332b;
    }

    .ind:hover {
        color: #e7332b;
        background-color: white;
        border: 1px solid #e7332b;
    }

    .ind:focus {
        border: 2px solid black;
        border-radius: 3px;
    }

    .ind2 {
        font-size: 16px;
        padding: 12px 25px;
        color: #e7332b;
        background-color: white;
        border: 1px solid #e7332b;
    }

    .ind2:hover {
        color: white;
        background-color: #e7332b;
        border: 1px solid #e7332b;
    }

    .ind2:focus {
        border: 2px solid black;
        border-radius: 3px;
    }

    .two {
        height: 45vh;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .cater {
        text-align: center;
        margin-top: 141px;
    }

    .cat {
        padding: 5px;
    }

    .three {
        display: flex;
        margin: 0 15px;
    }

    .gridOne,
    .gridTwo,
    .gridThree {
        background-color: rgb(255, 250, 250);
        margin: 15px;
        padding-bottom: 5%;
        padding-left: 3%;
        padding-top: 5%;
        padding-right: 3%;
    }

    .gridd {
        margin-bottom: 15%;
    }
    .gridd p {
        line-height: 24px;
    }

    .back {
        position: absolute;
        display: flex;
        width: 110%;
        justify-content: space-between;
        top: 162%;
    }

    .back-img {
        z-index: -1;
    }

    .foot {
        margin: 20% 2% 10% 2%;
        justify-content: space-between;
    }

    .footOne {
        display: flex;
        justify-content: space-between;
    }

    .last {
        margin-bottom: 10%;
    }

    .png {
        width: 15px;
        margin: 5px;
    }

    /* second page: New.html */
    .nav {
        background-color: #FFFDF5;
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 2%;
    }

    .navOne {
        display: flex;
        width: 60%;
        font-size: 18px;
        justify-content: space-evenly;
    }

    .basic {
        padding-top: 5%;
        font-size: 18px;
    }

    .line {
        width: 6%;
        position: absolute;
        right: 38%;
        bottom: 30%;
    }

    .lady1 {
        width: 38%;
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 5%;
    }

    .male1 {
        width: 23%;
        position: absolute;
        z-index: -1;
        top: 45%;
        right: 5%;
    }

    .enroll {
        color: white;
        background-color: #e7332b;
        border: none;
        width: 12.5%;
        margin-top: 3%;
        padding: 1%;
        font-size: 18px;
        border-radius: 50px;
    }

    .face {
        width: 4%;
        position: absolute;
        top: 93%;
        left: 31%;
        z-index: -1;
    }

    .wire {
        position: absolute;
        right: 40%;
        z-index: -1;
    }

    .wire2 {
        position: absolute;
        z-index: -1;
        top: 170%;
        left: 27%;
    }

    .firstText {
        padding-top: 15%;
        text-align: center;
        padding-bottom: 12%;
    }

    .second {
        display: flex;
        font-size: 24px;
        padding: 4%;
        justify-content: space-evenly;
        margin-left: 2%;
    }

    .sec2 {
        width: 50%;
        margin: 0 10%;
    }

    .sec3 {
        text-align: right;
    }

    .third {
        margin: 10% 15% 4% 6%;
        justify-content: space-between;
    }

    .train {
        width: 65%;
        line-height: 52px;
    }

    .train2 {
        position: absolute;
        z-index: -1;
        top: 187%;
        left: 66%;
    }

    .firstGrid,
    .secGrid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2%;
    }

    .curve {
        width: 35%;
    }

    .cur {
        display: flex;
        justify-content: flex-end;
    }

    .cur2 {
        padding: 0 0% 3% 3%;
        box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
        width: 30%;
        margin: 1%;
        border-radius: 3%;
    }

    .cur22 {
        padding: 0 0% 3% 3%;
        box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
        width: 30%;
        margin: 1%;
        border-radius: 3%;
        margin-top: 3%;
    }

    .innerCur2 {
        padding: 5%;
        margin-right: 5%;
    }

    .innerCur22 {
        padding: 6.5%;
        margin-right: 5%;
    }

    .innerCur23 {
        padding: 3.8%;
        margin-right: 5%;
    }

    .fifth {
        background-color: #e7332b;
        display: flex;
        padding: 8% 5% 6.5% 5%;
        margin-top: 10%;
    }

    .text {
        color: white;
        padding-top: 5%;
        padding-left: 2.5%;
        width: 40%;
    }

    .enroll2 {
        color: #e7332b;
        background-color: white;
        border: none;
        width: 35%;
        margin-top: 8%;
        padding: 2%;
        font-size: 18px;
        border-radius: 71px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
            rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
            rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }

    .sec5image {
        width: 60%;
    }

    .icons {
        margin: 8% 0 20% 0;
        width: 108%;
    }

    .icons1,
    .icons2 {
        display: flex;
    }

    .iconS {
        display: flex;
        background-color: #e7332b;
        border: 2px solid white;
        width: 50%;
        color: white;
        font-size: 20px;
        margin: 5% 5% 0 0;
        align-items: center;
        padding: 2%;
        border-radius: 71px;
    }

    .dot {
        position: absolute;
        top: 530%;
        left: 3%;
    }

    .dotWire {
        position: absolute;
        left: 28%;
    }

    .sixth1 {
        width: 45%;
        margin: 5% 5% 7% 5%;
    }

    .sec6Img {
        position: absolute;
        width: 10%;
        right: 45%;
        top: 585%;
    }

    .seventh {
        background-color: #FFFDF5;
    }

    .seven1,
    .seven2 {
        display: flex;
        margin: 5%;
    }

    .sev {
        padding: 5%;
        background-color: white;
        margin: 1%;
        border-radius: 10%;
        box-shadow: rgba(231, 51, 43, 0.1) 0px 11px 22px 0px;
    }

    /* third page: exp.html */
    .nav-a {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: white;
    }
}

@media screen and (max-width: 991px) and (min-width: 300px) {}